<div class="card">
  <div class="card-header">
    <h3>인증 메일 재전송</h3>
  </div>

  <div class="card-block">
    <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, required: true, autofocus: true, placeholder: '이메일', skip_label: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      <%= f.submit "인증 메일 다시 보내기", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>

  <div class="card-footer">
    <%= render "users/shared/links" %>
  </div>
</div>