<div class="nav-logo">
  <%= link_to root_url, class:'btn-root' do %>
    <%= image_tag("img-symbol-64.png", class: "bi-nav-head", size: "64", alt: "로고이미지") %>
  <% end %>
</div>

<div class="form-session">
  <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, required: true, autofocus: true, placeholder: '이메일', skip_label: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <%= f.submit "인증 메일 다시 보내기", class: "btn btn-primary btn-block" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
