<div class="modal fade" id="space" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="spaceTitle">새로운 공간</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons" aria-hidden="true">close</i>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for [@space], remote: true do |form| %>
          <div class="form-group">
            <%= form.text_field :name, class: "form-control", autofocus: true, :required => true %>
          </div>
          <div class="form-group">
            <%= form.text_field :description, class: "form-control", autofocus: true, :required => true %>
          </div>
          <div class="form-group">
            <%= form.text_field :url, class: "form-control", label: '공간 바로가기 주소', placeholder: "공간_바로가기_주소.#{ request.domain }" %>
          </div>

          <div class="form-group">
            <%= form.check_box :is_public, label: '공간을 공개합니다.', class: "form-control", checked: false %>
          </div>

          <div class="actions">
            <%= form.submit class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
