<%= form_with(model: space, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :space_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :space_url %>
  </div>

  <div class="field">
    <%= form.label :is_public %>
    <%= form.check_box :is_public, id: :space_is_public %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :space_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
