<li class="list-space-item <% if current_user.id == space.user.id %>owner<% else %>member<% end %>" id="space-<%= space.id %>">
  <%= link_to space_projects_path(space), id: "space-#{space.id}-title", class: 'content' do %>
    <h3 class="title">
      <%= space.name %>
      <% if current_user.id == space.user.id %>
        <spqn class="ownership">owner</spqn>
      <% else %>
        <span class="ownership">member</span>
      <% end %>
    </h3>
  <% end %>

  <div class="dropdown">
    <a href="" id="dropdown_space" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="material-icons">more_vert</i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <% if current_user.id == space.user.id %>
        <%= link_to '이름 수정', edit_space_path(space), remote: true, class: 'dropdown-item' %>
        <%= link_to '공간 삭제', space, remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item' %>
      <% else %>
        <button class="dropdown-item" data-toggle="popover" title="<%= space.user.name %>" data-content="<%= space.user.email %>">
          <%= space.user.name.truncate(8) %> <i class="material-icons">face</i>
        </button>
      <% end %>
    </div>
  </div>
</li>