<%= javascript_tag "MakeSpaceChannel('all')" %>
<div class="container">
  <br>
  <%= link_to '프로젝트를 공유할 공간 생성하기', new_space_path, remote: true, class: 'btn btn-block btn-secondary' %>
  <br>
  <div class="card public">
    <div class="card-header">
      <h1><span class="badge badge-primary">공개된 공간</span></h1>
    </div>
    <div class="d-flex flex-wrap card-body" id="space-board">
      <%= render partial: 'space', collection: @spaces %>
    </div>
  </div>
  <br>
  <div class="card owner">
    <div class="card-header">
      <h1><span class="badge badge-success">생성한 공간</span></h1>
    </div>
    <div class="d-flex flex-wrap card-body" id="space-board">
      <%= render partial: 'space', collection: @spaces_mine %>
    </div>
  </div>
  <br>
  <div class="card member">
    <div class="card-header">
      <h1><span class="badge badge-warning">참여한 공간</span></h1>
    </div>
    <div class="d-flex flex-wrap card-body" id="space-board">
      <%= render partial: 'space', collection: @spaces_membered %>
    </div>
  </div>
</div>