<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @space.url %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @space.is_public %>
</p>

<p>
  <strong>User:</strong>
  <%= @space.user %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
