<%= bootstrap_form_for [@space, @project, @spin, section] do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :section_title %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position, id: :section_position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
