<li id="project-<%= project.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <%= link_to project_spins_path(project_id: project), method: :get do %>
      <h5 class="mb-1"><%= project.title %></h5>
    <% end %>
    <small>
      <div class="btn-group" role="group" aria-label="project Buttons">
        <% if current_user.id == project.user.id %>
          <%= link_to edit_project_path(project), remote: true, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to project, remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="material-icons">delete</i>
          <% end %>
        <% end %>
        <button class="btn btn-sm btn-outline-secondary float-right ml4" data-toggle="popover" title="<%= project.user.name %>" data-content="<%= project.user.email %>">
          <%= project.user.name.truncate(8) %> <i class="material-icons">face</i>
        </button>
      </div>
    </small>
  </div>
  <p class="mb-1"><%= project.description %></p>
</li>