<li id="project-<%= project.id %>" class="list-item">
  <%= link_to space_project_spins_path(space_id: project.space, project_id: project), class: 'content', method: :get do %>
    <h2 class="project-title"><%= project.title %></h2>
    <% if project.description.present? %>
      <p class="project-description"><%= project.description %></p>
    <% end %>
    <h6 class="project-author"><%= project.user.name.truncate(8) %> (<%= project.user.email %>)</h6>
  <% end %>

  <div class="dropdown">
    <a href="" id="dropdown_project" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="material-icons">more_vert</i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <% if current_user.id == project.user.id %>
        <%= link_to '프로젝트 수정', edit_space_project_path(space_id: project.space, id: project), remote: true, class: 'dropdown-item' %>
        <%= link_to '프로젝트 삭제', space_project_path(space_id: project.space, id: project), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>
</li>