<li class="list-spin-item">
  <%= link_to space_project_spin_path(project_id: spin.project, id: spin), id: "spin-#{spin.id}", class: 'spin' do %>
    <% if spin.status == "closed" %>
    <% else %>
    <% end %>

    <h2 class="spin-title"><%= spin.title %></h2>
    <p id="spin-<%= spin.id %>-summary" class="spin-description"><%= spin.summary %></p>
  <% end %>
  <div class="dropdown btn-dropdown">
    <a href="" id="dropdown_project" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="material-icons">more_vert</i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <% if current_user.id == spin.user.id %>
        <div class="btn-group float-right" role="group" aria-label="Spin Buttons">
          <%= link_to '스핀 수정', edit_space_project_spin_path(project_id: spin.project, id: spin), remote: true, class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to '스핀 삭제', space_project_spin_path(project_id: spin.project, id: spin), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span-backdrop-1"></div>
  <div class="span-backdrop-2"></div>
  <div class="span-backdrop-3"></div>
  <div class="span-backdrop-4"></div>

</li>
