<div class="card spin" id="spin-<%= spin.id %>">
  <% if spin.status == "closed" %>
    <img class="card-img-top" src="<%= asset_path('CLOSED.JPG') %>" alt="CLOSED">
  <% else %>
    <img class="card-img-top" src="<%= asset_path('OPENED.JPG') %>" alt="OPENED">
  <% end %>

  <div class="card-body">
    <h4><%= link_to spin.title, space_project_spin_path(project_id: spin.project, id: spin), id: "spin-#{spin.id}-title", class: 'card-title' %></h4>
    <p id="spin-<%= spin.id %>-summary" class="card-text"><%= spin.summary %></p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <% if current_user.id == spin.user.id %>
        <div class="btn-group float-right" role="group" aria-label="Spin Buttons">
          <%= link_to edit_space_project_spin_path(project_id: spin.project, id: spin), remote: true, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to space_project_spin_path(project_id: spin.project, id: spin), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="material-icons">delete</i>
          <% end %>
        </div>
      <% end %>
    </li>
  </ul>
</div>