<li id="spin-<%= spin.id %>" class="list-spin-item">
  <%= link_to space_project_spin_path(project_id: spin.project, id: spin), class: 'spin' do %>
    <% if spin.status == "closed" %>
    <% else %>
    <% end %>

    <h2 class="title"><%= spin.title %></h2>
    <p id="spin-<%= spin.id %>-summary" class="description"><%= spin.summary %></p>
  <% end %>

  <div class="dropdown btn-dropdown">
    <a href="" id="dropdown_project" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="material-icons">more_vert</i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <% if current_user.id == spin.user.id %>
        <%= link_to '이름 수정', edit_space_project_spin_path(project_id: spin.project, id: spin), remote: true, class: 'dropdown-item' %>
        <%= link_to '삭제', space_project_spin_path(project_id: spin.project, id: spin), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>

  <div class="span-backdrop-1"></div>
  <div class="span-backdrop-2"></div>
  <div class="span-backdrop-3"></div>
  <div class="span-backdrop-4"></div>
</li>
