<div class="nav-logo">
  <%= link_to root_url, class:'btn-root' do %>
    <%= image_tag("img-symbol-64.png", class: "bi-nav-head", size: "64", alt: "로고이미지") %>
  <% end %>
</div>

<div class="form-session">
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'form-horizontal'}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, required: true, autofocus: true, placeholder: '이메일', skip_label: true %>
    <%= f.submit '비밀번호 재설정 메일보내기', class: 'btn btn-primary btn-block', data: {disable_with: '처리중'} %>
  <% end %>

  <%= render "users/shared/links" %>
</div>
