<div class="post-container" draggable="true" id="drag_me">
  <blockquote class="note yellow" id=<%= "post-#{post.id}" %>>
    <div>
      <%= simple_format(post.content) %>
      <cite class="author">
        <%= post.user.name %>(<%= post.user.email %>)

        <% if current_user.id == post.user.id %>
        <%= link_to 'Edit', edit_post_path(post), remote: true, class: 'button small' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button small' %>
        <% end %>
      </cite>
    </div>
  </blockquote>
</div>