<div class="post-container" draggable="true" id="drag_me">
  <blockquote class="note yellow" id=<%= "post-#{post.id}" %>>
    <div>
      <%= link_to like_post_path(post), method: :put do %>
      <%= image_tag "thumbs-up.png", style: "width: 24px; height: 24px;" %>
      <%= post.get_upvotes.size %>
      <% end %>

      <%= link_to dislike_post_path(post), method: :put do %>
      <%= image_tag "thumbs-down.png", style: "width: 24px; height: 24px;" %>
      <%= post.get_downvotes.size %>
      <% end %>
    </div>
    <div>
      <%= simple_format(post.content) %>
      <cite class="author">
        <%= post.user.name %>(<%= post.user.email %>)

        <% if current_user.id == post.user.id %>
        <%= link_to 'Edit', edit_post_path(post), remote: true, class: 'btn btn-sm btn-block btn-outline-secondary my-md-1' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-block btn-outline-secondary my-md-0' %>
        <% end %>
      </cite>
    </div>
  </blockquote>
</div>