<div class="post-container" draggable="true" id="drag_me">
  <blockquote class="note yellow" id=<%= "post-#{post.id}" %>>
    <div>
        <%= simple_format(post.content) %>

        <hr>

        <%= link_to like_post_path(post), remote: true, class: 'btn btn-sm btn-outline-primary icon-button', id: "like-post-#{post.id}", method: :put do %>
        <i class="material-icons">thumb_up</i>
        <%= post.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_post_path(post), remote: true, class: 'btn btn-sm btn-outline-primary icon-button', id: "dislike-post-#{post.id}", method: :put do %>
        <i class="material-icons">thumb_down</i>
        <%= post.get_downvotes.size %>
        <% end %>

        <button class="btn btn-sm btn-outline-secondary right-button icon-button" data-toggle="popover" title="<%= post.user.name %>" data-content="<%= post.user.email %>">
          <i class="material-icons">face</i>
        </button>

        <% if current_user.id == post.user.id %>
            <%= link_to edit_post_path(post), remote: true, class: 'btn btn-sm btn-outline-secondary right-button icon-button' do %>
              <i class="material-icons">edit</i>
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-secondary right-button icon-button' do %>
              <i class="material-icons">delete</i>
            <% end %>
        <% end %>
    </div>
  </blockquote>
</div>