<%= form_with(model: retrospect, local: true) do |form| %>
  <% if retrospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retrospect.errors.count, "error") %> prohibited this retrospect from being saved:</h2>

      <ul>
      <% retrospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :retrospect_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :retrospect_description %>
  </div>

  <div class="field">
    <!--<%= form.label :user_id %>-->
    <%= form.hidden_field :user_id, id: :retrospect_user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
