<nav class="navbar navbar-expand-md navbar-dark fixed-top <%= ' bg-dark' if controller_name !='root' %>">
  <%= link_to t(:service_name), root_url, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/posts">회고</a>
          </li>
        </ul>
        <ul class="navbar-right">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">설정</a>
            <div class="dropdown-menu" aria-labelledby="dropdown06">
              <%= link_to '로그아웃', destroy_user_session_url, method: 'delete', class: 'dropdown-item' %>
              <!-- <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </div>
        </ul>
    <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to '가입하기', new_user_registration_url, title: '가입하기', class: 'btn btn-outline-success  mr-3 my-md-0' %>
          </li>
          <li class="navbar-item">
            <%= link_to '로그인', new_user_session_url, title: '로그인', class: 'btn btn-outline-success r mr-3 my-md-0' %>
          </li>
        </ul>
    <% end %>
  </div>
</nav>