<!DOCTYPE html>
<html>
<head>
  <title>RetroSpin</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'img-symbol-64.png', sizes: '126x126', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta property="og:title" content="RetoSpin" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" content="<%= image_url("img-symbol-64.png", class: "bi-nav-head", size: "64", alt: "로고이미지") %>" />
  <meta property="og:image:width" content="126" />
  <meta property="og:image:height" content="126" />
  <meta property="og:description" content="애자일 팀을 위한 온라인 회고 도구. 온라인으로 프로젝트 회고를 설계하고 진행하세요" />
</head>

<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<%= render 'layouts/header' %>
<%= render 'layouts/navbar' unless controller_name == 'registrations' || controller_name == 'sessions' || controller_name == 'passwords' || controller_name == 'confirmations' %>

<div class="main">
  <% if notice || alert %>
    <div class="container container-alerts">
      <% if notice %>
        <div class="alert alert-dismissible alert-primary alert-notice fade show">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons" aria-hidden="true">close</i>
          </button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-dismissible alert-danger alert-notice fade show">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons" aria-hidden="true">close</i>
          </button>
          <%= alert %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>

</body>
</html>
