<!DOCTYPE html>
<html>
<head>
  <title>RetroSpin</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'minerva-256.png', sizes: '256x256', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body class="<%= controller_name %> <%= controller_name %>-<%= controller.action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<%= render 'layouts/header' %>
<%= render 'layouts/navbar' unless controller_name == 'registrations' || controller_name == 'sessions' || controller_name == 'passwords' || controller_name == 'confirmations' %>

<div class="main">
  <% if notice || alert %>
    <div class="container container-alerts">
      <% if notice %>
        <div class="alert alert-dismissible alert-primary alert-notice fade show">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons" aria-hidden="true">close</i>
          </button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-dismissible alert-danger alert-notice fade show">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons" aria-hidden="true">close</i>
          </button>
          <%= alert %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>

</body>
</html>
