<div class="nav-logo">
  <%= link_to root_url, class:'btn-root' do %>
    <%= image_tag("img-symbol-64.png", class: "bi-nav-head", size: "64", alt: "로고이미지") %>
  <% end %>
</div>

<div class="form-session">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :name, required: true, placeholder: '이름', label: 'NAME' %>
    <%= f.email_field :email, required: true, autofocus: true, placeholder: '이메일', label: 'E-MAIL' %>
    <%= f.password_field :password, required: true, autocomplete: 'off', placeholder: '비밀번호', label: 'PASSWORD' %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: 'off', placeholder: '비밀번호 확인', label: 'PASSWORD REPEAT' %>

    <%= f.submit "가입하기", class: 'btn btn-primary btn-block', data: {disable_with: '처리중'} %>
  <% end %>

  <%= render "users/shared/links" %>
</div>


